# Ejercicio - Busqueda de Alojamiento en Airbnb.

Supongamos que somos un agente de [Airbnb](http://www.airbnb.com) localizado en Lisboa, y tenemos que atender peticiones de varios clientes. Tenemos un archivo llamado `airbnb.csv` (en la carpeta data) donde tenemos información de todos los alojamientos de Airbnb en Lisboa.

In [29]:
import pandas as pd
airbnb = pd.read_csv("./data/pandas/airbnb.csv")

In [30]:
airbnb.head(10)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0
5,29720,128075,Entire home/apt,Estrela,14,5.0,16,9.0,1154.0
6,29872,128698,Entire home/apt,Alcântara,25,5.0,2,1.0,75.0
7,29891,128792,Entire home/apt,Misericórdia,28,5.0,3,1.0,49.0
8,29915,128890,Entire home/apt,Avenidas Novas,28,4.5,3,1.0,58.0
9,33312,144398,Entire home/apt,Misericórdia,24,4.5,4,1.0,66.0

In [31]:
airbnb.describe()

,room_id,host_id,reviews,overall_satisfaction,accommodates,bedrooms,price
count,1.323200e+04,1.323200e+04,13232.000000,13222.000000,13232.000000,13232.000000,13232.000000
mean,1.055081e+07,3.616444e+07,29.130063,3.284677,3.917775,1.549501,86.592352
std,6.069884e+06,3.706975e+07,42.802762,2.123236,2.293757,1.062821,135.208926
min,6.499000e+03,1.445500e+04,0.000000,0.000000,1.000000,0.000000,10.000000
25%,5.054848e+06,6.197930e+06,2.000000,0.000000,2.000000,1.000000,45.000000
50%,1.166226e+07,2.207571e+07,11.000000,4.500000,4.000000,1.000000,64.000000
75%,1.609631e+07,5.546697e+07,39.000000,5.000000,5.000000,2.000000,93.000000
max,1.940072e+07,1.359156e+08,438.000000,5.000000,16.000000,10.000000,7496.000000

En concreto el dataset tiene las siguientes variables:
- room_id: el identificador de la propiedad
- host_id: el identificador del dueño de la propiedad
- room_type: tipo de propiedad (vivienda completa/(habitacion para compartir/habitación privada)
- neighborhood: el barrio de Lisboa
- reviews: El numero de opiniones
- overall_satisfaction: Puntuacion media del apartamento
- accommodates: El numero de personas que se pueden alojar en la propiedad
- bedrooms: El número de habitaciones
- price: El precio (en euros) por noche

### Caso 1.

Alicia va a ir a Lisboa durante una semana con su marido y sus 2 hijos. Están buscando un apartamento con habitaciones separadas para los padres y los hijos. No les importa donde alojarse o el precio, simplemente quieren tener una experiencia agradable. Esto significa que solo aceptan lugares con más de 10 críticas con una puntuación mayor de 4. Cuando seleccionemos habitaciones para Alicia, tenemos que asegurarnos de ordenar las habitaciones de mejor a peor puntuación. Para aquellas habitaciones que tienen la misma puntuación, debemos mostrar antes aquellas con más críticas. Debemos darle 3 alternativas.

In [96]:
#accommodates(n° de personas) = 4
#bedrooms(cant habitaciones) = 2
#reviews(críticas) > 10
#overall_satisfaction(puntuacion) > 4/ ordenar de mayor a menor/ si son iguales antes debemos mostrar antes aquellas con más críticas

order_overall = airbnb.sort_values(by="overall_satisfaction", ascending=False)
order_overall.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
2725,3838165,15783199,Entire home/apt,São Domingos de Benfica,20,5.0,8,3.0,69.0
4906,7716257,2697978,Entire home/apt,Santa Maria Maior,57,5.0,5,3.0,116.0
8733,14461391,17163789,Entire home/apt,Misericórdia,23,5.0,6,3.0,162.0
4905,7715595,39465095,Entire home/apt,São Vicente,14,5.0,6,2.0,57.0

In [97]:
#Cuando seleccionemos habitaciones para Alicia, tenemos que asegurarnos de ordenar las habitaciones de mejor a peor puntuación.
airbnb = order_overall[(order_overall["accommodates"]==4) & (order_overall["bedrooms"]==2) & (order_overall["reviews"]>10)]
airbnb.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
8729,14450717,58755802,Entire home/apt,Santo António,26,5.0,4,2.0,79.0
2749,3865486,4189583,Entire home/apt,São Vicente,101,5.0,4,2.0,88.0
8764,14500757,84627990,Entire home/apt,São Vicente,30,5.0,4,2.0,79.0
2708,3808964,19575081,Entire home/apt,Misericórdia,45,5.0,4,2.0,104.0
8703,14426380,88768468,Entire home/apt,São Vicente,51,5.0,4,2.0,69.0

In [100]:
#Para aquellas habitaciones que tienen la misma puntuación, debemos mostrar antes aquellas con más críticas. Debemos darle 3 alternativas.
more_reviews = airbnb.sort_values(by="reviews", ascending=False)
more_reviews.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
120,176153,842219,Entire home/apt,Misericórdia,438,5.0,4,2.0,102.0
140,202150,989393,Entire home/apt,Santa Maria Maior,274,5.0,4,2.0,62.0
537,644056,3222443,Entire home/apt,Misericórdia,262,4.5,4,2.0,46.0
624,720167,3716977,Entire home/apt,Santa Maria Maior,260,4.5,4,2.0,58.0
388,496195,647439,Entire home/apt,Santa Maria Maior,259,5.0,4,2.0,52.0

In [102]:
#Debemos darle 3 alternativas.
more_reviews = airbnb.sort_values(by="reviews", ascending=False)
airbnb = more_reviews[more_reviews["overall_satisfaction"]==5]
airbnb.head(3)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
120,176153,842219,Entire home/apt,Misericórdia,438,5.0,4,2.0,102.0
140,202150,989393,Entire home/apt,Santa Maria Maior,274,5.0,4,2.0,62.0
388,496195,647439,Entire home/apt,Santa Maria Maior,259,5.0,4,2.0,52.0

### Caso 2

Roberto es un casero que tiene una casa en Airbnb. De vez en cuando nos llama preguntando sobre cuales son las críticas de su alojamiento. Hoy está particularmente enfadado, ya que su hermana Clara ha puesto una casa en Airbnb y Roberto quiere asegurarse de que su casa tiene más críticas que las de Clara. Tenemos que crear un dataframe con las propiedades de ambos. Las id de las casas de Roberto y Clara son 97503 y 90387  respectivamente. Finalmente guardamos este dataframe como excel llamado "roberto.xls

In [83]:
brothers = airbnb[(airbnb["room_id"]==97503) | (airbnb["room_id"]==90387)]
brothers.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
41,90387,490050,Private room,Santo António,204,5.0,2,1.0,46.0
48,97503,515924,Private room,Santo António,39,4.0,2,1.0,26.0

In [76]:
df_brothers = pd.DataFrame(brothers)

In [79]:
df_brothers.to_excel("./data/pandas/roberto.xlsx", sheet_name="hermanos")

In [81]:
df_brothers = pd.read_excel("./data/pandas/roberto.xlsx", sheet_name="hermanos")

In [82]:
df_brothers.head()

,Unnamed: 0,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,41,90387,490050,Private room,Santo António,204,5,2,1,46
1,48,97503,515924,Private room,Santo António,39,4,2,1,26


### Caso 3

Diana va a Lisboa a pasar 3 noches y quiere conocer a gente nueva. Tiene un presupuesto de 50€ para su alojamiento. Debemos buscarle las 10 propiedades más baratas, dandole preferencia a aquellas que sean habitaciones compartidas *(room_type == Shared room)*, y para aquellas viviendas compartidas debemos elegir aquellas con mejor puntuación.

In [85]:
# price*3 <= 50/ las 10 más baratas
# overall_satisfaction / mejor puntuación

airbnb_order = airbnb.sort_values(by="price", ascending=True)

In [86]:
caso3 = airbnb_order[((airbnb_order.price*3)<=50) & (airbnb_order.overall_satisfaction==5.0)]
caso3.head(10)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
7494,13019217,1851592,Private room,Beato,8,5.0,2,1.0,11.0
9065,14933182,91501272,Shared room,Santo António,5,5.0,8,1.0,11.0
3560,5547080,24930656,Private room,Santo António,8,5.0,1,1.0,12.0
10447,16736665,60929188,Private room,Penha de França,11,5.0,1,1.0,13.0
7066,12305540,66077974,Shared room,Arroios,40,5.0,1,1.0,13.0
7060,12299998,66077974,Shared room,Arroios,49,5.0,1,1.0,13.0
6056,10397682,32344156,Shared room,Misericórdia,15,5.0,8,1.0,13.0
11355,17783311,121443992,Private room,Santa Clara,4,5.0,1,1.0,13.0
7572,13107137,72852469,Private room,Marvila,41,5.0,1,1.0,13.0
8918,14719962,40574313,Shared room,Avenidas Novas,4,5.0,4,1.0,13.0